*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
   background-color:#7c7e81;
}
.body1{
    margin:0px;
    padding:0px;
    background-color: #7c7e81;
}
.body2 {
    margin: 0 auto;
    background-color:#10242F;
    height: 50px;
    width: 100%;
    box-shadow: 0px 0px 20px 0px #10242F;
}
.header{
    height: 50px;
    width: 1100px;
    margin:0 auto;
    background-color: #10242F;
    box-shadow: 0px 0px 15px 0px  #10242F;
}
.header ul {
    line-height:45px;
    padding: 0px;
    margin: 0px;
    float: left;
}
.header ul li{
    display: inline;
    list-style: none;
}
.header ul li a{
    margin:5px;
    padding:5px;
    text-decoration:none;
    color: green;
    font-size: 30px;
    font-weight: bold;
}
.header ul li a:hover{
    color: gold;
    font-weight:bolder;
}
.header ul strong{
    font-size: 30px;
    color:green;
}
.header form{
    float: right;
    line-height: 45px;
}
.header form input {
    height: 23px;
    margin-right: 5px;
}
.body3{
    margin:0 auto;
    width:1100px;
    overflow: hidden;
    min-height: 100px;
}
.body4{
    float: left;
    height: 600px;
    width:200px;
    background-color: #057f83;
}