*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
body{
    background:#7c7e81;
}
.header{
    height: 100px;
    width: 100%;
    background:#10242F;
    box-shadow: 0px 0px 20px 0px #10242F;
}
.header img{
    height: 80px;
    widows: 200px;
    margin-left: 100px;
    margin-top:10px;
}
.header form{
    float: right;
    margin-right: 10%;
    margin-top: 35px;
}
.header form strong{
    color:#189e18;
}
.header form input{
    height: 20px;
    padding:2px 0px 2px 7px;
    margin-left:3px;
}
.header form button{
    background:gold;
    height: 22px;
    width: 50px;
    margin-left: 5px;
    padding:2px 2px 2px 2px;
}
.header form button:hover{
    color:#ffffff;
    background-color: green;
}
.body1{
    float: left;
    height: 600px;
    width: 50%;
}
.body1 img{
    width:400px;
    height:600px;
    margin-left:200px;
    margin-top:50px;
}
.body2{
    float: right;
    height: 600px;
    width: 50%;
}
.body2 form{
    float: right;
    margin-right: 20%;
    margin-top: 20px;
}
.body2 h1{
    margin: 10px 0px 10px 0px;
}
.body2 input{
    margin: 3px;
    padding: 3px 3px 3px 5px;
}
.body2 strong{
    float: right;
}
.body2 select{
    padding: 2px;
    margin:3px;
}
.body2 button{
    float: right;
    margin-top: 20px;
    height: 25px;
    background-color:gold;
    color: #000000;
    padding:2px 2px 2px 2px;
}
.body2 button:hover{
    color: #ffffff;
    background-color:green;
}
.td1{
    width: 134px;
    height: 56px;
    padding-left: 30‒;
}
.body3{
    height:80px;
    margin-top:850px;
    background-color:#10242F;
}.body3 h1{
    margin-left:560px;
    margin-right: 560px;
    padding-top:20px;
    color: #ffffff;
}